@import "styles/utilities/variables";

$large: 1440px;
$small: 669px;
$shadowColour: rgba(0,0,0,0.5);

.container {
    background-color: $primary;
    color: $tertiary;
    border-radius: 10px;
    box-shadow: 4px 4px 10px $shadowColour;
    padding: 15px;
    margin-bottom: 20px;
}

.screenshotContainer {
    background-color: $tertiary;
    box-shadow: inset 4px 4px 10px $shadowColour;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.screenshot {
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 23.5vw;
    // @media only screen and (min-width: $large) {
    //     height: 28vw;
    // }
    // @media only screen and (max-width: $small) {
    //     height: 77vw;
    // }
    z-index: 0;
}


.header {
    background: $tertiary;
    box-shadow: inset 4px 4px 10px $shadowColour;
    color: $secondary;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 15px;
    display: flex;
    justify-content: flex-start;
}

.title {
    font-size: 30px;
    margin-right: 30px;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    margin-left:10px;
}

.tech {
    font-size: 17px;
    background-color: $secondary;
    color: $tertiary;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: -8px;
    margin-bottom: 15px;
    padding: 7px;
}

