@import "styles/utilities/variables";

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 25px;
}

.page {

}

.pageHeader {
    font-size: 45px;
    margin-bottom: 1em;
    padding: 7px;
    background-color: $secondary;
    border-radius: 30px;
    // border: 4px solid $primary;
    text-align: center;
    color: $tertiary;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}
