
.cgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    &-block {
        margin-bottom: 1em;
        &-title {
            font-size: 24px;
            margin-bottom: 0.3em;
        }

        &-content {
            p {
                color: black;
            }
        }
    }
}
