
.cgrid {
    display: grid;
    grid-gap: 1rem;
    &-block {
        margin-bottom: 1em;
        &-title {
            font-size: 24px;
            display: flex;
            align-items: center;
            > p {
                margin-right: 0.4em;
                margin-left: 0.4em;
                color: black;
            }
        }

        &-content {
            p {
                color: black;
                margin-top: 0.1em;
            }
        }
    }
}
